
div {
    border-style: none;
    border-width: 5px;
    border-color: green;
    padding: 5px;
}

.container {
    border-color: aqua;
}

.row {
  border-color: yellow;
}

.list-group-item {
  border: 0;
  margin: 5px;
  margin-bottom: 20px;
}

body{
    background-image: url(http://data3.whicdn.com/images/21330323/large.gif)
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
